:root {
    --white : #f7f7f7;
    --biru  : #02f5e1ab;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
    min-height: 2000px;
}

article {
    margin-top: 20%;
    background-color: var(--white);
    min-height: 100vh;
}

h5 {
    font-size: 0.7rem;
}

p {
    font-size: 1.1rem;
}


/* responsive laptop */
@media (max-width: 1366px) {
    article {
        /* margin-top: 5%; */
        width: 800px;
        margin: 100px auto;
    }
}

/* tablet */
@media (max-width: 768px) {
    article {
        width: 600px;
        margin: 100px auto;
    }
}

/* hp */
@media (max-width: 578px) {
    article {
        width: 350px;
        margin: 75px auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 0.9rem;
    }
}   